.app {
background-color: #252d4a;
position: absolute;
width: 55.8vw;
height: 76.85vh;
color: black;
border-radius: 1.44vh;
display: flex;
flex-direction: column;
padding-bottom: 1%;
background-image: url('../../public/images/school-frame.png');
background-size: 100% 100%;
background-repeat: no-repeat;
font-family: 'IBM Plex Mono', monospace;;
}

/* QUESTION/TIMER/LEFT SECTION */
.question-section {
width: 80%;
height: auto;
margin-top: 27%;
margin-left: 10%;
/* font-family: 'Special Elite', cursive; */
display: flex;
flex-direction: column;
justify-content: space-between;
}

.question-count {
width: 80%;
height: 7.68vh;
text-align: left;
margin-left: 5%;
margin-bottom: 2%;
font-size: 2.5vw;
display: flex;
justify-content: space-between;
align-items: center;
position: relative;
}

.question-count span {
font-size: 2.5vw;
}

.timer{
width: 3.9vw;
height: 6.72vh;
border-radius: 50%;
border: 0.48vh solid black;
display: flex;
align-items: center;
justify-content: center;
text-decoration: dashed black;
font-size: 2.88vh;
font-weight: 700;
position: absolute;
right: 0%;
top: 2.5%
}

.question-text {
text-align: left;
height: auto;
margin-left: 5%;
font-size: 1.8vw;
}

/* ANSWERS/RIGHT SECTION */
.answer-section {
width: 80%;
margin-left: 10%;
font-size: 1.8vw;
display: flex;
flex-direction: row;
justify-content: space-evenly;
flex-wrap: wrap;
}

.game-button{
position: relative;
width: 45%;
top: 0;
cursor: pointer;
text-decoration: none !important;
outline: none !important;
font-family: 'Special Elite', cursive;
line-height: 1.5em;
letter-spacing: .1em;
text-shadow: 0.19vh 0.19vh 0.1vh #0066a2, -0.19vh 0.19vh 0.1vh #0066a2, 0.19vh -0.19vh 0.1vh #0066a2, -0.19vh -0.19vh 0.1vh #0066a2, 0vh 0.19vh 0.1vh #0066a2, 0vh -0.19vh 0.1vh #0066a2, 0vh 0.38vh 0.1vh #004a87, 0.19vh 0.38vh 0.1vh #004a87, -0.19vh 0.38vh 0.1vh  #004a87;
border: none;
background: repeating-linear-gradient( 45deg, #3ebbf7, #3ebbf7 0.48vh, #45b1f4 0.48vh, #45b1f4 0.96vh);
border-bottom: 0.29vh solid rgba(16, 91, 146, 0.5);
border-top: 0.29vh solid rgba(255,255,255,.3);
color: #fff !important;
border-radius: 0.77vh;
box-shadow: 0 0.58vh 0 #266b91, 0 0.77vh 0.1vh 0.1vh rgba(0,0,0,.3), 0 0.96vh 0 0.48vh #12517d, 0 1.15vh 0 0.48vh #1a6b9a, 0 1.44vh 0 0.48vh #0c405e, 0 1.44vh 0.1vh 0.58vh rgba(0,0,0,.3);
}

.game-button:hover {
top:0.19vh;
box-shadow: 0 0.38vh 0 #266b91, 0 0.58vh 0.1vh 0.1vh rgba(0,0,0,.3), 0 0.77vh 0 0.48vh #12517d, 0 0.96vh 0 0.48vh #1a6b9a, 0 1.25vh 0 0.48vh #0c405e, 0 1.25vh 0.1vh 0.58vh rgba(0,0,0,.3);
}

.game-button::before {
content: '';
position: absolute;
width: 40%;
background: #fff;
right: 13%;
top: -3%;
border-radius: 9.5vh;
}

.game-button::after {
content: '';
position: absolute;
width: 5%;
background: #fff;
right: 5%;
top: -3%;
border-radius: 9.5vh;
}

.game-button.red {
background: repeating-linear-gradient( 45deg, #ff4f4c, #ff4f4c 0.48vh, #ff4643 0.48vh, #ff4643 0.96vh);
box-shadow: 0 0.58vh 0 #ae2725, 0 0.77vh 0.1vh 0.1vh rgba(0,0,0,.3), 0 0.96vh 0 0.48vh #831614, 0 1.15vh 0 0.48vh #a33634, 0 1.44vh 0 0.48vh #631716, 0 1.44vh 0.1vh 0.58vh rgba(0,0,0,.3);
border-bottom: 0.29vh solid rgba(160, 25, 23, 0.5);
text-shadow: 0.19vh 0.19vh 0.1vh #d72d21, -0.19vh 0.19vh 0.1vh #d72d21, 0.19vh -0.19vh 0.1vh #d72d21, -0.19vh -0.19vh 0.1vh #d72d21, 0vh 0.19vh 0.1vh #d72d21, 0vh -0.19vh 0.1vh #d72d21, 0vh 0.38vh 0.1vh #930704, 0.19vh 0.38vh 0.1vh #930704, -0.19vh 0.38vh 0.1vh  #930704;
}

.game-button.red:hover {
top:0.19vh;
box-shadow: 0 0.38vh 0 #ae2725, 0 0.58vh 0.1vh 0.1vh rgba(0,0,0,.3), 0 0.77vh 0 0.48vh #831614, 0 0.96vh 0 0.48vh #a33634, 0 1.25vh 0 0.48vh #631716, 0 1.25vh 0.1vh 0.58vh rgba(0,0,0,.3);
}

.game-button.green {
background: repeating-linear-gradient( 45deg, #54d440, #54d440 0.48vh, #52cc3f 0.48vh, #52cc3f 0.96vh);
box-shadow: 0 0.58vh 0 #348628, 0 0.77vh 0.1vh 0.1vh rgba(0,0,0,.3), 0 0.96vh 0 0.48vh #2a6d20, 0 1.15vh 0 0.48vh #39822e, 0 1.44vh 0 0.48vh #1d4c16, 0 1.44vh 0.1vh 0.58vh rgba(0,0,0,.3);
border-bottom: 0.29vh solid rgba(40, 117, 29, 0.5);
text-shadow: 0.19vh 0.19vh 0.1vh #348628, -0.19vh 0.19vh 0.1vh #348628, 0.19vh -0.19vh 0.1vh #348628, -0.19vh -0.19vh 0.1vh #348628, 0vh 0.19vh 0.1vh #348628, 0vh -0.19vh 0.1vh #348628, 0vh 0.38vh 0.1vh #1d4c16, 0.19vh 0.38vh 0.1vh #1d4c16, -0.19vh 0.38vh 0.1vh #1d4c16;
}

.game-button.green:hover {
top:0.19vh;
box-shadow: 0 0.38vh 0 #348628, 0 0.58vh 0.1vh 0.1vh rgba(0,0,0,.3), 0 0.77vh 0 0.48vh #2a6d20, 0 0.96vh 0 0.48vh #39822e, 0 1.25vh 0 0.48vh #1d4c16, 0 1.25vh 0.1vh 0.58vh rgba(0,0,0,.3);
}

.game-button.exit {
background: #DC143C;
box-shadow: none;
border-bottom: none;
text-shadow: none;
}
.game-button.exit:hover {
top:0.19vh;
box-shadow: none;
}

.game-button.retry {
background: #54d440;
box-shadow: none;
border-bottom: none;
text-shadow: none;
}
.game-button.retry:hover {
top:0.19vh;
box-shadow: none;
}
    
.game-over{
margin: 8.93vw 9.6vh;
width: 74vh;
position: absolute;
background: #FAEBD7;
border: 0.48vh solid #4169E1;
border-radius: 1.44vh;
display: flex;
flex-direction: column;
align-items: center;
font-family: 'Anton', sans-serif;
}

.game-over-text{
font-family: 'Anton', sans-serif;
font-size: 9.6vh;
text-shadow: 0.19vh 0.19vh 0.19vh #CCCCCC;
letter-spacing: 0.15rem;
text-transform: uppercase;
animation: 1s 2 zoom-in-zoom-out;
animation-timing-function: ease-in, linear, ease-out;
color: #4169E1;
text-shadow: 
        -0.38vh 0.38vh #f0c103;
        /* -0.77vh 0.77vh #90EE90,
        -1.15vh 1.15vh #2196f3; */
}

@keyframes zoom-in-zoom-out {
0% {
transform: scale(1, 1);
}
50% {
transform: scale(1.5, 1.5);
}
100% {
transform: scale(1, 1);
}
}

.buttons{
display: flex;
flex-direction: row;
font-family: 'Anton', sans-serif;
}
.image{
width: 11.16vw;
height: 19.21vh;
}

