.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.dice-n-grid {
  display: flex;
  flex-direction: row;
}

.grid {
  background-image: url('./static/images/grid1.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 110px;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.pawn {
  background-image: url('./static/images/pawn.png');
  height: 40px;
  width: 40px;
  margin-left: 15px;
  margin-top: 10px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
